/* clarksonGreen	#004F42 */

.test	{
	-fx-background-color: red;
}

.graytheme	{
	-fx-background-color: #858585;
	-fx-text-fill: white;
}

.lightgraytheme	{
	-fx-background-color: #DDDDDD;
	-fx-font-family: helvetica;
	-fx-font-style: italic;
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

.boxoutline	{
	-fx-border-color: #000000;
}

.greentheme	{
	-fx-background-color: #468847;
	-fx-text-fill: white;
}

.greenfont	{
	-fx-text-fill: #468847
}

.goldgradient	{
	-fx-background-color: linear-gradient(to bottom, #FFC000, #FFA000);
}

.saveblue	{
	-fx-background-color: #4499FF;
}

.font	{
	-fx-font-family: helvetica;
	-fx-font-style: italic;
}

.fonttitle	{
	-fx-font-size: 36;
}

.font.body	{
	-fx-font-size: 24;
}

.savebuttontheme	{
	-fx-background-color: #4499FF;
	-fx-background-radius: 20;
	-fx-min-width: 32;
	-fx-min-height: 32;
	-fx-max-width: 32;
	-fx-max-height: 32;
}

.logoutbuttontheme	{
	-fx-background-color: #ff4e4e;
	-fx-border-radius: 6 6 6 6;
	-fx-border-radius: 6 6 6 6;
	-fx-font-size : 17;
	-fx-font-family: helvetica;
	-fx-font-style: italic;
	-fx-font-weight: bold;
}

.roundedRect	{
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: #DDDDDD;
    -fx-border-color: #000000;
}

.transparentFill	{
	opacity: 0.0;
}

.semester	{
	margin-top: -1px;
	margin-left: -1px;
}

.pastSem	{
	-fx-background-color: green;
	-fx-border-color: #000000;
	/*margin-top: 1px;
	margin-left: 1px;*/
}

.currentSem	{
	-fx-background-color: yellow;
	-fx-border-color: #000000;
	outline: 1px;
	outline: solid;
}

.futureSem	{
	-fx-background-color: red;
	-fx-border-color: #000000;
	outline: 1px;
	outline: solid;
}