/Advisor.class
/Course.class
/Curriculum.class
/DatabaseManager$EntryNotUniqueException.class
/DatabaseManager$UsernameNotUniqueException.class
/DatabaseManager.class
/Main.class
/Student.class
/User.class
